<!doctype html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href='/'>Home</a></li>
                <li><a href='/blog'>All Posts</a></li>
                <li><a href='/new-post'>+New Post</a></li>
            </ul>
            <ul class="log-in-out">
                <li><a href='/login'>Login</a></li>
                <li><a href='/logout'>Logout</a></li>
            </ul>
        </nav>
        <main>
            {% if session['username']|string != '' %}
                <p class="greeting">Logged in as: {{ session['username'] }}</p>
            {% endif %}

            <h1>{{ page_title }}</h1>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                <p class="error">{{message}}</p>
                {% endfor %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>