{% extends "base.html" %}

{% block content %}
    {% if users|length == 0 %}
    <p>No users yet</p>

    {% else %}
        <ul class="user_list">
        {% for user in users %}
            <li><a href='/blog?user={{ user.id }}'>{{ user.username }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}