{% extends "base.html" %}

{% block content %}
    {% if blogs.items|length == 0 %}
        <p>No blogs yet</p>
    {% else %}
        {% for blog in blogs.items %}
        <div class="post_listing">
            <h2><a href='/blog?id={{ blog.id }}'>{{ blog.title }}</a></h2>
            <p>{{ blog.body }}</p>
            <p class="date">{{ blog.pub_date }}</p>
            <p class="written_by">written by <a href='/blog?user={{ blog.owner.id }}'>{{ blog.owner.username }}</a></p>
        </div>
        {% endfor %}
        {% if blogs.has_prev %}<a href="{{ url_for(request.endpoint, page=blogs.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} | 
        {% if blogs.has_next %}<a href="{{ url_for(request.endpoint, page=blogs.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
    {% endif %}

{% endblock %}