{% extends "base.html" %}

{% block content %}
<form action="/login" method="POST">
    <table>
        <tr>
            <td>
                <label for="username">Username</label>
            </td>
            <td>
                <input id="username" name="username" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input id="password" name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
<p>Don't have an account? <a href="/signup">Create one!</a></p>
{% endblock %}