{% extends "base.html" %}

{% block content %}
    <form action='/new-post' method='POST'>
        <label>
            Title for your new blog:
            <br>
            <input class="titlebox" type="text" name='title' value="{{ title }}"/>
            <p class="error">{{ title_error }}</p>
        </label>
        <label>
            Image urls for your new blog <em>(optional - multiple urls should be separated with a semicolon)</em>:
            <br>
            <textarea class="imagebox" name='image'>{{ image }}</textarea>
            <br>
            <br>
        </label>
        <label>
            Your new blog:
            <br>
            <textarea name="body">{{ body }}</textarea>
            <p class="error">{{ body_error }}</p>
        </label>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}