{% extends "base.html" %}

{% block content %}
    <h1>{{ blog.title }}</h1>
    <table class="images_table">
        <tr>
            {% for url in blog.image|split_semicolon %}
            <td>   
                <img src="{{ url }}">
            </td>
            {% endfor %}
        </tr>
    </table>
    <br>
    <div class="post_content">
        <p>{{ blog.body }}</p>
        <br>
        <table>
            <tr>
                <td>
                    <p class="date">{{ blog.pub_date }}</p>
                </td>
                {% if session['username'] == blog.owner.username %}
                    <td>
                        <form action='/edit-post' method="GET">
                            <input type="hidden" name="id" value="{{ blog.id }}"/>
                            <input id="edit-button" type="submit" value='edit' />
                        </form>
                    </td>
                    <td>
                        <form action='/delete-post' method="POST">
                            <input type="hidden" name="id" value="{{ blog.id }}"/>
                            <input id="delete-button" type="submit" value='delete' />
                        </form>
                    </td>
                {% endif %}
            </tr>
        </table>
        <p class="written_by">written by <a href='blog?user={{ blog.owner.id }}'>{{ blog.owner.username }}</a></p>
    </div>

    {% if prev_blog != None %}
          <span class="prev"><a href='/blog?id={{ prev_blog.id }}'><span class="arrow">&Larr;</span> Previous</a></span>
    {% endif %}

    {% if next_blog != None %}
           <span class="next"><a href='/blog?id={{ next_blog.id }}'>Next <span class="arrow">&Rarr;</span></a></span>
    {% endif %}

{% endblock %}