{% extends "base.html" %}

{% block content %}
<form action="/signup" method="POST">
    <table>
        <tr>
            <td>
                <label for="username">Username</label>
            </td>
            <td>
                <input type="text" id="username" name="username" value = "{{ username }}"/>
            </td>
            <td>
                 <span class="error">{{ username_error }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password" autocomplete="off">Password</label>
            </td>
            <td>
                <input type="password" id="password" name="password"/>
            </td>
            <td>
                <span class="error">{{ password_error }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="verify" autocomplete="off">Verify Password</label>
            </td>
            <td>
                <input type="password" id="verify" name="verify"/>
            </td>
            <td>
                <span class="error">{{ verify_error }}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}