.error {
    color: red;
}

body {
    max-width: 900px;
    margin: auto auto;
    margin-bottom: 100px;
    padding: 1.5em 0;
    font-family: Palatino;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

textarea {
    width: 500px;
    height: 200px;
}

.imagebox {
    width: 500px;
    height: 100px;
}

.titlebox{
    width: 500px;
}

a {
    text-decoration: none;
}

.post_listing {
    border: 2px solid darkblue;
    margin: 1em auto;
    padding: 0 30px;
}

.post_content {
    padding: 0 30px;
}

.error {
    padding: 0;
}

/* https://www.w3schools.com/css/css_navbar.asp*/
nav {
    overflow: hidden;
    background-color: darkblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.log-in-out {
    text-align: right;
}

.log-in-out li{
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #4CAF50;
}

.date {
    font-size: 75%;
    text-decoration-line: underline;
    text-decoration-style: dotted;

}

.prev {
    float: left;
}

.next {
    float: right;
}

.arrow {
    font-size: 1.5em;
}

.images_table {
    margin: auto auto;
    padding: 0 30px;
    
}

table img {
    max-width: 100%;
    width: 300px;
}

.written_by{
    font-size: 75%;
}

.greeting {
    text-align: right;
    font-size: 75%;
}

.user_list {
    text-align: center;
    list-style-type: none;
    padding: 0;
}